@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

/* Universal */

* { 
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
}

/* Nav Bar */

#logo {
    margin-top: 0.5rem;
    width: 3rem;
    height: 3rem;
}

nav {
    color: #df7739;
    position: sticky;
    top: 0;

    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-bottom: 0.1rem solid #f3f3f3;

}

.nav-icons {
    border: 0.1rem solid #df7739;
    border-radius: 5px;

    padding: 0.2rem;
    margin-left: 0.2rem;
    margin-right: 0.2rem;

}

.nav-icons:hover {
    color: white;
    background-color: #df7739;
}

/* Search Bar */

.search-section {
    margin-top: 1rem;
    margin-left:0.6rem;
    margin-right: 0.6rem;
    justify-content: space-between;
}

.filter-box {
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 7rem;
    height: 2.7rem;
    border: 0.15rem solid #df7739;
    color: #df7739;
    border-radius: 7px;
}

.filter-box:hover {
    background-color: #df7739;
    color: white;
}

.filter-box .search-icons {
    margin-right: 0.4rem;
    margin-bottom: 0.1rem;
}

.search-box {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    width: 40rem;
    height: 2.7rem;
    border: 0.12rem solid #b0b0b0;
    border-radius: 3px;
}

.search-box .search-icons {
    margin-left: 0.6rem;
    margin-right: 0.4rem;
    color: #9f9d9d
}

.search-box p {
    color: #b0b0b0;
    margin-right: 2rem;
}

.search-icons {
    margin-top: 0.2rem;
}

/* Flex */

.flex {
    display: flex;
}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}