.header {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

button {
    border-style: solid;
    border-color: orange;
}

input {
    width: 50%;
    height: 40px;
    border-color: lightgray;
}

.header .row-one, .header .row-two {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.header .row-one {
    padding-bottom: 10px;
    padding-top: 5px;
    border-bottom: solid 1px lightgray;
}

.header .row-two {
    width: 97.5%;
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
}

.header .row-two > button {
    width: 125px;
    height: 40px;
    background-color: white;
    border-style: solid;
}

.header .row-one .left, .header .row-one .right {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header .row-one .left > img {
    width: 50px;
    height: auto;
}

.header .row-one .left > span {
    font-size: 28px;
    font-weight: bold;
}

.header .row-one .right {
    gap: 10px;
    padding-right: 10px;
}

.header .row-one .right > button {
    width: 40px;
    height: 40px;
    box-shadow: none;
    border-width: 1.5px;
    border-radius: 5px;
    background-color: white;
}
